<div ng-controller="displayMovieController as vm" layout="column" ng-cloak class="md-inline-form" id="popupContainer">
  <md-content class="md-padding parent" md-theme="default" layout="row" layout-fill>
    <div layout="row" layout-align="center">
      <md-card ng-repeat="movie in vm.movieList" class="movie">


        <md-card-content class="parent layout-fill layout-row" layout="row" layout-fill>
          <img ng-click="vm.showAdvanced($event, movie)" vm.class="child child-1" flex src={{movie.poster}} value={{movie.title}}>
        </md-card-content>



      </md-card>



    </div>
  </md-content>
</div>
