<div ng-controller="displayMovieController as vm" layout="column" ng-cloak class="md-inline-form" id="popupContainer">
  <md-content class="md-padding parent" md-theme="default" layout="row" layout-align="space-between center" layout-fill>
    <div class="dialog-demo-content" flex layout="row" layout-align="center">
      <md-card ng-repeat="movie in vm.movieList" class="movie">

        <!-- <md-card-title>
          <md-card-title-text>
          </md-card-title-text>
        </md-card-title> -->

        <md-card-content class="parent layout-fill layout-row" layout="row" layout-fill>
          <img ng-click="vm.showAdvanced($event, movie)" vm.class="child child-1" flex src={{movie.poster}} value={{movie.title}}>
        </md-card-content>

        <!-- <md-card-actions>
          <md-button class="md-primary md-raised">Favorite</md-button>
          <md-button class="md-primary md-raised">Edit Contents</md-button>
          <md-button class="md-primary md-raised">Delete</md-button>
        </md-card-actions> -->

      </md-card>



    </div>

    <div ng-if="status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{status}}
      </b>
    </div>

    <div style="visibility: hidden">
      <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding>
          <h2>Pre-Rendered Dialog</h2>
          <p>
            This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
            template on each opening.
            <br/><br/>
            The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
            Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
            we restore the element back into its old DOM position.
          </p>
        </md-dialog>
      </div>
    </div>


  </md-content>
</div>
