<div ng-controller="homeController as vm" layout="column" ng-cloak class="md-inline-form">

  <!-- Input form with autocomplete -->
  <md-content layout-padding md-theme="default">
    <form name="movieInputForm">
      <div layout-xs="row">
          <md-input-container>
            <label>Search Movie by Title</label>
            <input ng-model="vm.title">
          </md-input-container>




          <!-- Autocomplete -->
        <!-- <md-autocomplete
          md-input-name="autocompleteField"
          md-input-minlength="2"
          md-input-maxlength="30"
          md-no-cache="vm.noCache"
          md-selected-item="vm.selectedItem"
          md-search-text="vm.searchText"
          md-items="item in vm.getMovieData(vm.searchText)"
          md-item-text="item.Title"
          md-min-length="4"
          md-dropdown-items="5"
          md-search-text-change="vm.getMovieData(vm.searchText)"
          md-floating-label="Search by Title">
          <md-item-template>
            <span md-highlight-text="vm.searchText">{{item.Title}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
            <div ng-message="md-require-match">Please select an existing state.</div>
            <div ng-message="minlength">Your entry is not long enough.</div>
            <div ng-message="maxlength">Your entry is too long.</div>
          </div>
        </md-autocomplete> -->

      </div>
    </form>

    <!-- Submit Input Button -->
    <md-input-container>
      <md-button class="md-primary" ng-click="vm.getMovieData(vm.title)">Search</button>
    </md-input-container>

  </md-content>

  <!-- Video Player HTML -->
  <div class="video-player" ng-show="vm.video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
        ng-src={{vm.playVideo(vm.video[0].id.videoId)}}
        allowFullScreen>
      </iframe>
    </div>
    <div class="video-player-details">
      <h3>{{ vm.video.snippet.title }}</h3>
      <div>{{ vm.video.snippet.description}}</div>
    </div>
  </div>

</div>
