<div ng-controller="movieEditorController as vm" layout="column" ng-cloak>
    <md-dialog-content>


          <md-input-container class="flexbox-parent">
            <div ng-model="vm.movieInfo.poster" layout="row" layout-align="center center" min-height="500">
              <img src={{vm.movieInfo.poster}} alt="" width="400">
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Title</label>
            <input type="text" ng-model="vm.movieInfo.title">
          </md-input-container>


          <md-input-container class="md-block">
            <label>Plot</label>
            <input type="text" ng-model="vm.movieInfo.plot">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Director</label>
            <input ng-model="vm.movieInfo.director" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Writer(s)</label>
            <input type="text" ng-model="vm.movieInfo.writer">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Stars</label>
            <input type="text" ng-model="vm.movieInfo.actors">
          </md-input-container>

          <md-input-container class="md-block">
            <label>IMDB Rating</label>
            <input ng-model="vm.movieInfo.imdbrating" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Website</label>
            <input ng-model="vm.movieInfo.website" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Type</label>
            <input ng-model="vm.movieInfo.type" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Runtime</label>
            <input ng-model="vm.movieInfo.runtime" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Rating</label>
            <input ng-model="vm.movieInfo.rated" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Production</label>
            <input ng-model="vm.movieInfo.production" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Country</label>
            <input ng-model="vm.movieInfo.country" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Box Office</label>
            <input ng-model="vm.movieInfo.boxoffice" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Internet Movie Database</label>
            <input ng-model="vm.movieInfo.internetmoviedatabase" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Rotten Tomatoes</label>
            <input ng-model="vm.movieInfo.rottentomatoes" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>MetaCritic</label>
            <input ng-model="vm.movieInfo.metacritic" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>IMDB Votes</label>
            <input ng-model="vm.movieInfo.imdbvotes" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Metascore</label>
            <input ng-model="vm.movieInfo.metascore" type="text">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Awards</label>
            <input type="text" ng-model="vm.movieInfo.awards">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Release Date</label>
            <input type="text" ng-model="vm.movieInfo.released">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Genre</label>
            <input type="text" ng-model="vm.movieInfo.genre">
          </md-input-container>

          <md-input-container class="md-block">
            <label>DVD</label>
            <input type="text" ng-model="vm.movieInfo.dvd">
          </md-input-container>

          <md-card-actions>
            <md-button ng-click="vm.playTrailer(vm.movieInfo.title)" class="md-primary md-raised">Play Trailer</md-button>
            <md-button ng-click="vm.editMovie(vm.movieInfo)" class="md-primary md-raised">Submit Changes</md-button>
            <md-button ng-click="vm.removeMovie(vm.movieInfo.id, vm.movie)" class="md-primary md-raised">Delete</md-button>
          </md-card-actions>

    </md-dialog-conent>

    <br>
    <br>
    <br>

    <!-- Video Player HTML -->
    <div class="video-player" ng-show="vm.video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="500" height="400" class="embed-responsive-item"
          ng-src={{vm.playVideo(vm.video[0].id.videoId)}}
          allowFullScreen>
        </iframe>
      </div>
      <div class="video-player-details">
        <h3>{{ vm.video.snippet.title }}</h3>
        <div>{{ vm.video.snippet.description}}</div>
      </div>
    </div>
</div>
